:host {

.card {
    width: 70%;
    margin: 1rem auto;
    margin-top: 2rem;
    background-color: rgb(235, 235, 235);
    align-items: center;
    align-content: center;
    background-color: var(--body);
   
}

mat-card-header {
    color: var(--text-body);
}

p {
    color: var(--text-body);
}

img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto

}

}