<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title >Agenda de Contatos</mat-card-title>
      <mat-card-subtitle><p>Consumindo API</p></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/notebook.png" alt="Imagem de uma agenda">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema de Agenda de Contatos desenvolvido por mim.<br />
        Esse é um sistema para gerenciamento de contatos simulando uma simples Agenda de contatos desenvolvido em Angular 12 e
        Spring Boot 2. 
        <br /><br /> <b>Fique a vontade para testar o sistema e deixar sua sugestão.</b>
      </p>
    </mat-card-content>
  </mat-card>