.container {
    width: 35rem;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: .6rem;
}

.fullWidth {
    width: 100%;

}

h1, p{
    text-align: center;
    color: var(--text-body);
}

input, mat-label, mat-icon {
    color: var(--text-body);
}

img {
    height: 12rem;
    margin: auto;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    margin-top: 3rem;
    opacity: .5;
}

mat-icon {
    opacity: .8;
}